<!-- Flieds -->
<div class="flieds">
  <div class="area day">
    <label for="year">DAY</label>
    <input type="text" id="day" />
    <div id="vidDay">Must be a valid day</div>
  </div>
  <div class="area month">
    <label for="month">MONTH</label>
    <input type="text" id="month" />
    <div id="vidMonth">Must be a valid month</div>
  </div>
  <div class="area year">
    <label for="year">YEAR</label>
    <input type="text" id="year" />
    <div id="vidYear">Must be in the past</div>
  </div>
</div>
